<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PetShop</title>
</head>
<body>
    <header>
        <h1>PetShop</h1>
        <nav>
           <ul>
            <li><a href="{{url_for('index')}}">Inicio</a></li>
           </ul>
        </nav>
    </header>

    <main class="container">
        {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
                {%for category, message in messages%}
                    <div class="alert alert-{{ category}}">{{ message }}</div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
            
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>© 2025 PetShop - Contacto: equipoloop2025@gmail.com</p>
    </footer>
</body>
</html>
