<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PetShop</title>
</head>
<body class="container">
    <header>
        <div class="logo">
        <img src="../static/img/logo-2.jpeg" class="" alt="" />
        <h1>
          <span class="primary-color">Pet & </span
          ><span class="secondary-color">Go</span>
        </h1>
        </div>
        <nav>
            
           <ul>
               <li><a href="{{url_for('index')}}" class="link_button">Inicio</a></li>
               <li><a href="{{url_for('productos')}}" class="link_button">Productos</a></li>
            {%if session['user'] %}
                {%if session['user_rol'] == 1 %} 
                <li><a href="{{url_for('catalogo')}}" class="link_button">Mis Artículos</a></li>
                {%endif%}
                {%if session['user_rol'] == 2 %} 
                <li><a href="{{url_for('carrito')}}" class="link_button">Mi carrito</a></li>
                {%endif%}
                <li><span class="link_button">Hola, {{session['user_nombre']}}</span></li>
                <li><a href="{{url_for('logout')}}" class="link_button">Cerrar Sesión</a></li>
            {%else%}
                <li><a href="{{url_for('login')}}" class="link_button">Inciar Sesión</a></li>
                <li><a href="{{url_for('register')}}" class="link_button">Registrarse</a></li>
            {%endif%}
           </ul>
        </nav>
    </header>

    <main >
        {%with messages = get_flashed_messages(with_categories=true)%}
            {%if messages%}
                {%for category, message in messages%}
                    <div class="alert alert-{{ category}}">{{ message }}</div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
            
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>© 2025 PetShop - Contacto: equipoloop2025@gmail.com</p>
    </footer>
</body>
</html>
