{% extends 'base.html' %}

{% block content %}

<div class="header-actions">
    <h1>Mis Artículos</h1>

</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {%for articulo in articulos%}
    <tr>
      <td>{{articulo.nombre}}</td>
      <td>{{articulo.descripcion}}</td>
      <td>{{articulo.precio}}</td>
      <td class="actions">
        <a class="btn btn-secondary" href="{{url_for(index)}}">Editar</a>
        <form action="{{url_for(index)}}" method="post" onsubmit="return confirm('Seguro desea eliminar')" >
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td>
    </tr>
    {%else%}
    <tr>
      <td colspan="4">No se ha creado ningún artículo</td>
    </tr>
    {%endfor%}
  </tbody>

</table>

  {% endblock %}
