{% extends 'base.html' %}

{% block content %}

<div class="header-actions">
    <h1>Mis Artículos</h1>
    <a class="btn btn-primary" href="{{url_for('create_article')}}">Crear nuevo</a>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {%for articulo in articulos%}
    <tr>
      <td>{{articulo.nombre}}</td>
      <td>{{articulo.descripcion}}</td>
      <td>{{articulo.precio}}</td>
      <td class="actions">
        <a class="btn btn-secondary" href="{{url_for('edit_article', id=articulo.id)}}">Editar</a>
        <form action="{{url_for('delete_article', id=articulo.id)}}" method="post" onsubmit="return confirm('Seguro desea eliminar')" >
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">No se ha creado ningún artículo</td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
