{% extends 'base.html' %}

{% block content %}
<h1>Formulario de artículos</h1>
<form  method="post" class="item-form"> 
    <label for="nombre">Nombre del artículo</label>
    <input type="text" name="nombre" id="nombre" value="{{ articulo.nombre if articulo else '' }}" required>

    <label for="descripcion">Descripción</label>
    <textarea name="descripcion id="descripcion>{{ articulo.descripcion if articulo else '' }}</textarea>

    <label for="precio"> Precio</label>
    <input type="number" step="0.01" name="password" id="precio" value="{{ articulo.precio if articulo else '' }}"required>

    <label for="categoria">Categoría</label>
        <select name="categoria" id="categoria">
            <option value="alimentos">Alimentos</option>
            <option value="accesorios">Accesorios</option>
        </select>
    <p></p>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ accion }}Crear</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('catalogo')}}' " >Cancelar</button>
    </div>
</form>
{% endblock %}