{% extends 'base.html' %}

{% block content %}
<div class="articulos-container">
<h1>Artículos disponibles</h1>
<div class="card-container">
    {%for articulo in articulos%}
    <div class="card">
        <h2>{{articulo.nombre}}</h2>
        <p>{{articulo.descripcion}}</p>
        <p class="price">${{"%.2f"|format(articulo.precio)}}</p>
        <form action="{{url_for('agregar_carrito', id=articulo.id)}}" method="post" onsubmit="return confirm('Seguro quiere agregar al carrito')" >
          <button type="submit" class="btn btn-primary">Agregar al carrito</button>
        </form>
        
    </div>
    {%else%}
    <p>No hay artículos disponibles en este momento</p>
    {%endfor%}
</div>
</div>

{% endblock %}
