{% extends 'base.html' %}

{% block content %}
    <div class="auth-form">
        <h1>Inicio de Sesión</h1>
        <form method="post">

            <div>
                <input type="text" name="usuario" required minlength="3" maxlength="20" placeholder="Tu nombre de usuario">
                <label>👤 Nombre de usuario</label>
            </div>
            <p></p>

            <div class="contrasena">
                <input type="password" name="password" required minlength="6" maxlength="20" placeholder="Tu contraseña">
                <label>🔒 Contraseña</label>
            </div>

            <div class="recordar">¿Olvidó su contraseña? <a href="">Recuperar</a></div>
            <p></p>

            <input type="submit" value="Iniciar sesión">
            <p></p>

            <div>
                ¿No tienes cuenta? <a href="register.html">Registrarse</a>
            </div>
        </form>
    </div>
{% endblock %}
