{% extends 'base.html' %}

{% block content %}
  <form class="auth-form" method="post">
    <section class="seccion-informacion">
      <h2>Registro</h2>

      <div>
        <label class="label-nombre">👤 Nombre</label>
        <input type="text" name="nombre" id="nombre" required minlength="3" maxlength="30" placeholder="Tu nombre">
      </div>
      <p></p>

      <div>
        <label class="label-email">📩 Email</label>
        <input type="email" name="email" id="email" required placeholder="ejemplo@email.com">
      </div>
      <p></p>

      <div>
        <label class="label-contraseña">🔒 Contraseña</label>
        <input type="password" name="password" id="password" required minlength="6" maxlength="20" placeholder="Mínimo 6 caracteres">
      </div>
      <p></p>

    </section>

    <section class="seccion-botones">
      <button type="submit" class="btn btn-primary">Registrarse</button>
      <p>¿Ya tienes una cuenta? <a href="{{url_for('login')}}">Iniciar sesión</a></p>
    </section>
  </form>
{% endblock %}